{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %}

{% block extra_title %} Shopping Bag{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h2 class="page-title">Shopping Bag</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row text-center text-lg-left">
            <div class="col">
                {% if bag_items %}
                    <div class="row d-flex d-md-flex d-lg-none">
                        <div class="col">
                            {% include './includes/bag-total.html' %}
                        </div>
                    </div>
                    <div class="row d-flex d-md-flex d-lg-none">
                        <div class="col">
                            {% include './includes/checkout-buttons.html' %}
                            <p class="text-muted mt-3">A summary of your bag contents is below</p>
                            <hr class="mb-5">
                        </div>
                    </div>
                    <div class="row d-none d-md-none d-lg-flex thick-text mb-3">
                        <div class="col-lg-3">Product Info</div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-2">Price</div>
                        <div class="col-lg-3">Qty</div>
                        <div class="col-lg-1">Subtotal</div>
                    </div>
                    {% for item in bag_items %}
                    <div class="row">
                        <div class="col-lg-3 order-1">
                            {% include './includes/product-image.html' %}
                        </div>
                        <div class="col-lg-3 order-2">
                            {% include './includes/product-info.html' %}
                        </div>
                        <div class="col-lg-2 order-3">
                            <p class="my-0 my-lg-0"><strong class="d-inline d-lg-none">Price: </strong>£{{ item.product.price }}</p>
                        </div>
                        <div class="col-lg-3 order-5 order-lg-4">{% include './includes/quantity-form.html' %}</div>
                        <div class="col-lg-1 order-4 order-lg-5">
                            <p class="my-1 my-lg-0"><strong class="d-inline d-lg-none">Subtotal: </strong>£{{ item.product.price | caluclate_sub_total:item.quantity }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row d-none d-md-none d-lg-flex text-right">
                        <div class="col">
                            {% include './includes/bag-total.html' %}
                        </div>
                    </div>
                    <div class="row d-none d-md-none d-lg-flex text-right">
                        <div class="col">
                            {% include './includes/checkout-buttons.html' %}
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5"> Your shopping bag is empty!</p>
                    <a href="{% url 'products' %}" class="btn black-back-g thick-text border text-white btn-lg rounded-0 text-uppercase py-3">
                        <span>
                            <i class="fa-solid fa-chevron-left fa-beat"></i>
                        </span>
                        <span class="">Keep shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="top-link-container d-block d-md-block d-lg-none">
        <div class="row">
            <div class="col-12">
                <a class="btn navy-blue-back-g text-white back-to-top" href="#top">
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>
        </div>
    </div>
    {% include '../includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include "products/includes/handle_quantity_script.html" %}
    {% include "bag/includes/handle_update_delete_script.html" %}

{% endblock %}