{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %}

{% block extra_title %} Shopping Bag{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h2 class="page-title">Shopping Bag</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-respsonsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <a href="/products/{{item.product.id }}">
                                            {% if item.product.image %}
                                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                            {% else %}
                                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="No image for {{ product.name }}">
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'update_bag' item.product.id %}">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-preppend mr-1">
                                                                <button class="decrease_quantity btn text-white black-back-g border rounded-0" data-item-id="{{ item.item_id }}" id="decrease_quantity_of_prod_{{ item.item_id }}">
                                                                    <i class="fa-solid fa-minus"></i>
                                                                </button>
                                                            </div>
                                                            <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item-id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                            <div class="input-group-append ml-1">
                                                                <button class="increase_quantity btn text-white black-back-g border rounded-0" data-item-id="{{ item.item_id }}" id="increase_quantity_of_prod_{{ item.item_id }}">
                                                                    <i class="fa-solid fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="shopping-bag-btn update-link text-info"><small>Update</small></a>
                                        <a href="{% url 'remove_from_bag' item.product.id %}" class="shopping-bag-btn remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price | caluclate_sub_total:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6>
                                        <strong>Bag Total: £{{ total|floatformat:2 }}</strong>
                                    </h6>
                                    <h6>
                                        Shipping: 
                                        {% if free_shipping_difference > 0 %}
                                            £{{ shipping|floatformat:2 }}
                                        {% else %}
                                            Free
                                        {% endif %}
                                    </h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_shipping_difference > 0 %}
                                        <p class="mb-1 text-danger">
                                            Get free shipping if you spend <strong>£{{ free_shipping_difference }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn black-back-g thick-text border text-white btn-lg rounded-0 text-uppercase py-3">
                                        <span>
                                            <i class="fa-solid fa-chevron-left fa-beat"></i>
                                        </span>
                                        <span class="">Keep shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black border thick-text rounded-0 btn-lg py-3">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <i class="fas fa-lock fa-beat"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5"> Your shopping bag is empty!</p>
                    <a href="{% url 'products' %}" class="btn black-back-g thick-text border text-white btn-lg rounded-0 text-uppercase py-3">
                        <span>
                            <i class="fa-solid fa-chevron-left fa-beat"></i>
                        </span>
                        <span class="">Keep shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% include '../includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include "products/includes/handle_quantity_script.html" %}
    {% include "bag/includes/handle_update_delete_script.html" %}

{% endblock %}