{% extends "base.html" %} 
{% load static %} 

{% block extra_title %} Big brands small price tags{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-lg-6 py-5 text-lg-left text-sm-center">
                <h1 class="display-4 text-uppercase font-weight-bold text-white tag-line">Big Tech brands with small price tags</h1>
                <div class="my-5">
                    <h4>
                    <a href="{% url 'products' %}" class="pb-btn btn btn-lg rounded-0 text-uppercase py-3 black-back-g thick-text border">
                        Shop Now
                    </a>
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <img class="mt-4 d-none d-lg-block d-xl-block" style="border:5px solid #2C4D90;width:100%;border-radius:50%;object-fit:contain;width: 220px;" src="{{ product_one.image.url }}" >
                <img class="d-none d-lg-block d-xl-block" style="border:5px solid #2C4D90;width:100%;border-radius:50%;object-fit:contain;width: 220px;position:absolute;bottom:50px;right:0" src="{{ product_two.image.url }}" >
            </div>
        </div>
    </div>
{% endblock %}
