{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-lg-left text-sm-center">Thank You</h2>
                <hr>
                <p class="text-black text-lg-left text-sm-center lead">Your order information is below. A confirmation email will be sent to {{ order.email }}.</p>
            </div>
        </div>

        <div class="row text-lg-left text-sm-center border rounded mx-2">
            <div class="col-12">
                <div class="order-confirmation">
                    <div class="row mt-3">
                        <div class="col">
                            <small class="muted text-navy-blue">Order info</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Order number</div>
                        <div class="col-12 col-md-6">{{ order.order_number}}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Order date</div>
                        <div class="col-12 col-md-6">{{ order.date}}</div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <small class="muted text-navy-blue">Order details</small>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-6">{{ item.quantity}} x {{ item.product }}</div>
                        <div class="col-12 col-md-6">£{{ item.line_item_total }}</div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <small class="muted text-navy-blue">Shipping to</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Full Name</div>
                        <div class="col-12 col-md-6">{{ order.f_name }} {{ order.l_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Address</div>
                        <div class="col-12 col-md-6">{{ order.address_line_1 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6"></div>
                        <div class="col-12 col-md-6">{{ order.address_line_2 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">City</div>
                        <div class="col-12 col-md-6">{{ order.city }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Post Code</div>
                        <div class="col-12 col-md-6">{{ order.post_code }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Country</div>
                        <div class="col-12 col-md-6">{{ order.country }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Phone Number</div>
                        <div class="col-12 col-md-6">{{ order.phone_number }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Email</div>
                        <div class="col-12 col-md-6">{{ order.email }}</div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <small class="muted text-navy-blue">Billing info</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Order total</div>
                        <div class="col-12 col-md-6">£{{ order.order_total }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 thick-text">Shipping costs</div>
                        <div class="col-12 col-md-6">£{{ order.shipping_costs }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 thick-text">Grand total</div>
                        <div class="col-12 col-md-6">£{{ order.grand_total }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
			<div class="col-12 text-center">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn black-back-g py-3 text-white border rounded-0 my-2">
                        <i class="fa-solid fa-user fa-beat mr-1"></i>
                        <span class="text-uppercase">Back to your Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}" class="btn black-back-g py-3 text-white border rounded-0 my-2">
                        <i class="fas fa-gifts fa-beat mr-1"></i>
                        <span class="text-uppercase">Want to do more shopping</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
    {% include '../includes/footer.html' %}
{% endblock %}