{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="Big tech brands with small price tags. Come and shop at the UKs best tech spot!">
            <meta name="keywords" content="Tech, Technology, Devices, Apple, Microsoft, Sony, Cheap, Bargain, Samsung, Mobile Phone, Laptop, Desktop, Cables">
            <meta name="author" content="Femi Ashiru">
        {% endblock %}

        {% block extra_meta %} 
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ MEDIA_URL }}favicon/site.webmanifest">
    
        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&family=Share+Tech&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %} {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/27cb7f1fb6.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %} 
        {% endblock %}

        <title>
            ASH|TECHS - {% block extra_title %}{% endblock %}
        </title>
    </head>

    <body>
        
        <header id="top-page" class="container-fluid fixed-top white-back-g">
            <div class="row navy-blue-back-g py-2 free-shipping-banner">
                <p class="text-white mx-auto my-auto thick-text">FREE SHIPPING ON ORDERS OVER £{{ free_shipping_threshold }}</p>
            </div>
            <div id="top-nav" class="row pt-lg-2 dg-lg-flex">
                <div class="col-lg-4 col-md-12 logo-lg">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link mx-auto logo-section">
                        <h2 class="text-black my-0"><strong class="text-uppercase">Ash</strong>|<span class="text-navy-blue text-uppercase">Techs</span><img src="{{ MEDIA_URL }}favicon/favicon-32x32.png" alt="ASHTECHS Logo" class="image-logo"></h2>
                    </a>
                </div>
                <div class="col-lg-4 my-auto py-1 search-lg">
                    <form method="GET" action="{% url 'products' %}" class="search-form">
                        <div class="input-group w-100">
                            <input class="search-bar form-control" type="text" name="q" placeholder="Search our site" required>
                            <div class="input-group-append">
                                <button class="form-control btn search-btn navy-blue-back-g" type="submit" >
                                    <i class="fa-solid fa-magnifying-glass text-white"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4 col-md-6 col-xs-6 order-lg-3 order-md-2 order-sm-2 order-xs-2 my-auto py-1 py-lg-0 account-lg">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <div class="text-center">
                                <div><i class="fa-solid fa-user fa-lg text-navy-blue"></i></div>
                                <p class="my-0 under-icon-nav text-uppercase">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'shopping_bag' %}" class="nav-link text-black" aria-label="You have {{ product_count }} product in your bag">
                                <div class="text-center">
                                    <div><i class="fa-solid fa-bag-shopping fa-lg text-navy-blue {% if product_count > 0 %}fa-beat{% endif %}"></i>{% if product_count > 0 %}<span class="text-danger bag-amount-display">{{ product_count }}</span>{% endif %}</div>
                                    <p class="my-0 under-icon-nav text-uppercase">Bag</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars fa-beat text-black"></i>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </header>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/success.html' %}
                        {% else %}
                            {% include 'includes/toasts/info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
        {% block page_header %}
        {% endblock %}
    
        {% block content %}
    
        {% endblock %}
        
        {% block postloadjs %}
            <script type="text/javascript">
                $('.toast').toast('show');
            </script>
        {% endblock %}
        
    </body>
</html>
