<form class="form update-form" method="POST" action="{% url 'update_bag' item.product.id %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-preppend mr-1">
                        <button class="decrease_quantity btn text-white black-back-g border rounded-0" data-item-id="{{ item.item_id }}" id="decrease_quantity_of_prod_{{ item.item_id }}">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </div>
                    <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item-id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                    <div class="input-group-append ml-1">
                        <button class="increase_quantity btn text-white black-back-g border rounded-0" data-item-id="{{ item.item_id }}" id="increase_quantity_of_prod_{{ item.item_id }}">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<a class="shopping-bag-btn update-link text-info float-left"><small>Update</small></a>
<a href="{% url 'remove_from_bag' item.product.id %}" class="shopping-bag-btn remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>