{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
    <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-white">
            {% for product in products %}
                <p>{{ product.description }}</p>
                <img alt="{{ product.name }}" scr="{{ product.image }}" >
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
