{% extends "base.html" %} 
{% load static %} 

{% block extra_title %} {{product.name}} {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top border" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0">{{ product.name }}</h3>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.brand %}
                        <span class="small mt-1 mb-0 mr-2">
                            <a class="text-muted" href="{% url 'products' %}?brandName={{ product.brand.name }}">
                                <i class="fa-solid fa-tag mr-1"></i>{{ product.brand.friendly_name }}
                            </a>
                        </span>
                    {% endif %}
                    {% if product.category %}
                        <span class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fa-solid fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </span>
                    {% endif %}
                    <div class="rating-section">
                        {% if product.rating %}
                            <small class="text-muted"><i class="fa-regular fa-star mr-1"></i>{{ product.rating }} / 100</small>
                        {% else %}
                            <p class="text-muted small">No Rating</p>
                            <a href="#all-reviews" class="btn black-back-g thick-text border text-white rounded-0 text-uppercase py-3">See Reviews ({{ reviews|length }})</a>
                        {% endif %}
                    </div>
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-preppend mr-1">
                                            <button class="decrease_quantity btn text-white black-back-g border rounded-0" data-item-id="{{ product.id }}" id="decrease_quantity_of_prod_{{ product.id }}">
                                                <i class="fa-solid fa-minus"></i>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item-id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-append ml-1">
                                            <button class="increase_quantity btn text-white black-back-g border rounded-0" data-item-id="{{ product.id }}" id="increase_quantity_of_prod_{{ product.id }}">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="pb-btn btn black-back-g thick-text border text-white rounded-0 text-uppercase py-3">
                                    <i class="fa-solid fa-chevron-left fa-beat"></i>
                                    <span class="">Keep shopping</span>
                                </a>
                                <button type="submit" class="pb-btn btn white-back-g thick-text text-black border rounded-0 text-uppercase py-3">
                                    Add to Bag
                                    <i class="fa-solid fa-bag-shopping fa-beat ml-1"></i>
                                </button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <section id="all-reviews">
            {% if reviews %}
                <div class="row">
                    <div class="col-lg-8 mt-3 offset-lg-2">
                        <h2 class="page-title text-lg-left text-sm-center">Customer Reviews</h2>
                        <hr class="mb-1">
                        <ul class="list-unstyled">
                            {% for review in reviews %}
                                <li> 
                                    <p class="mb-n1 mt-2 thick-text">{{ review.user_profile }}</p>
                                    <span class="small">{{ review.date }}</span>
                                    <p class="mt-2 font-italic">"{{ review.review_content }}"</p>
                                    <p><i class="fa-regular fa-star mr-1"></i>{{review.rating}} / <span class="thick-text">100</span></p>
                                    <hr class="mb-1">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-lg-8 mt-3 offset-lg-2">
                        <h2 class="page-title text-lg-left text-sm-center">No Reviews</h2>
                    </div>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-lg-8 mt-3 offset-lg-2">
                    <a href="" class="btn black-back-g thick-text border text-white rounded-0 text-uppercase py-3">
                        <i class="fa-solid fa-pen-to-square fa-beat-fade mr-1"></i>
                        Leave Review
                    </a>
                </div>
            </div>
            {% endif %}
        </section>
    </div>
    <div class="top-link-container">
        <div class="row">
            <div class="col-12">
                <a class="btn navy-blue-back-g text-white back-to-top" href="#top">
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include "products/includes/handle_quantity_script.html" %}
{% endblock %}