{% extends "base.html" %} 
{% load static %} 

{% block extra_title %} All products{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="page-title">Products</h2>
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="btn bg-success text-white rounded-0" title="Add product" aria-label="Add product">
                        Add new product <i class="fa-solid fa-plus ml-1"></i>
                    </a>
                {% endif %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50 search-form">
                            <select id="sort-selector" class="custom-select custom-select-sm search-bar">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                                <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting or current_brand != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} 
                            Product{% if products|length > 1 or products|length == 0 %}s{% endif %}
                            {% if search_term %} 
                                found for 
                                <strong>"{{ search_term }}"</strong>
                            {% endif %}
                        </p>
                    </div>                    
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">

                                <a href="/products/{{product.id }}">
                                    {% if product.image %}
                                        <img class="card-img border" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="card-img border" src="{{ MEDIA_URL }}noimage.png" alt="No image for {{ product.name }}">
                                    {% endif %}
                                </a>

                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer white-back-g pt-0 border-0">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                            {% if product.brand %}
                                                <span class="small mt-1 mb-0 mr-2">
                                                    <a class="text-muted" href="{% url 'products' %}?brandName={{ product.brand.name }}">
                                                        <i class="fa-solid fa-tag mr-1"></i>{{ product.brand.friendly_name }}
                                                    </a>
                                                </span>
                                            {% endif %}
                                            {% if product.category %}
                                                <span class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fa-solid fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                    </a>
                                                </span>
                                            {% endif %}
                                            <div class="rating-section">
                                                <small class="text-muted">
                                                    {% if product.rating %}<i class="fa-regular fa-star mr-1"></i>
                                                        {{ product.rating|floatformat:-2 }} / <span class="thick-text">100</span>
                                                    {% else %}
                                                        No Rating
                                                    {% endif %}
                                                </small>
                                            </div>
                                            {% if request.user.is_superuser %}
                                                <div class="mt-2">
                                                
                                                    <a href="{% url 'edit_product' product.id %}" class="btn bg-info text-white rounded-0" title="Edit {{ product.name }}" aria-label="Edit {{ product.name }}">
                                                        Edit<i class="fa-solid fa-pen-to-square ml-1"></i>
                                                    </a>
                                                    <button type="button" class="btn bg-danger text-white rounded-0" data-toggle="modal" data-target="#deleteModal-{{ product.id }}">
                                                        Delete<i class="fa-solid fa-trash ml-1"></i>
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="deleteModal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content rounded-0">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete {{ product.name }}?</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p><span class="text-white bg-danger p-2">Warning</span> Deleting this product will remove all related reviews!</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary text-white black-back-g rounded-0 thick-text border" data-dismiss="modal">No</button>
                                                            <a href="{% url 'delete_product' product.id %}" class="btn btn-primary rounded-0 text-black white-back-g thick-text border" title="Delete {{ product.name }}" aria-label="Delete {{ product.name }}">
                                                                Yes
                                                            </a>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>  
        </div>     
    </div>
    <div class="top-link-container">
        <div class="row">
            <div class="col-12">
                <a class="btn navy-blue-back-g text-white back-to-top" href="#top">
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        const sortSelector = document.querySelector('#sort-selector');

        sortSelector.addEventListener('change', function(){
            const selected = this.value;
            const currentURL = new URL(window.location);
            
            if(selected !== 'reset'){
                const sort = selected.split('_')[0];
                const direction = selected.split('_')[1];
                
                currentURL.searchParams.set('sort', sort);
                currentURL.searchParams.set('direction', direction);
                
                window.location.replace(currentURL);
            } else {
                currentURL.searchParams.delete('sort');
                currentURL.searchParams.delete('direction');
                
                window.location.replace(currentURL);
            }
        });
    </script>
{% endblock %}