<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
    <div class="toast-header">
        <i class="fa-solid fa-circle-check fa-beat mr-2 text-success"></i>
        <strong class="mr-auto text-success">Success</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total %}
            <p class="bg-white text-black py-1">Your Bag ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-black">
                        Total{% if free_shipping_difference > 0 %} (Exc. shipping){% endif %}: 
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_shipping_difference > 0 %}
                        <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                            Spend <strong>£{{ free_shipping_difference }}</strong> more to get free shipping!
                        </p>
                    {% endif %}
                    <a href="{% url 'shopping_bag' %}" class="btn black-back-g border text-white btn-block rounded-0">
                        <span class="text-uppercase">Go To Shopping Bag</span>
                        <i class="fa-solid fa-bag-shopping fa-beat"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>